*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'lato', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    color: #000;
}

/* Header ================================================ */

header{
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 2fr 8fr;
    background-image: linear-gradient(45deg, rgba(38,80,119, 0.7) 55%, rgba(100, 134, 165, 0.5)), url('../img/background4.jpeg');
    height: 100vh;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.logo{
    width: 450px;
    margin-top: -50px;
    margin-left: 100px;
    outline: none;
}

.main-nav{
    justify-self: end;
    margin: 90px 100px 0 0;
}

.main-nav a{
    text-decoration: none;
    color: white;
    margin-right: 50px;
    font-size: 145%;
    font-weight: 550;
}

.main-nav li{
    display: inline-block;
    text-decoration: none;
}

.main-nav li a:hover,
.main-nav li a:hover{
    border-bottom: 4px solid #eee;
    color: #eee;
    transition: all .8s;
}

.heading-main-box{
    grid-column: 1/3;
    margin-top: -20px;
    margin-left: 200px;
}

.heading-main-text{
    font-size: 350%;
    font-weight: 500;  
    letter-spacing: 3px;
    word-spacing: 10px;
    line-height: 150%;  
    text-transform: uppercase;
    margin-bottom: 50px;
}

.heading-main-box .btn{
    margin-right: 20px;
}

/* Reusable ============================================ */

.btn{
    width: 220px;
    height: 65px;
    border-radius: 25px;
    border: none;
    background-color: rgb(250, 126, 43);
    color: #fff;
    outline: none;
    font-size: 100%;
    text-align: center;
    transition: all .5s;
}

.btn:hover{
    background-color: rgb(170, 86, 29);
}

.grid{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
}

.section-title {
    text-transform: uppercase;
    font-size: 300%;
    font-weight: 550;
    letter-spacing: 2px;
    color: rgb(245, 145, 52);
    padding: 50px;
    text-align: center;
}

.section-title::after{
    content: " ";
    display: block;
    background-color: rgba(246, 159, 101, 0.4);
    margin: 0 auto;
    width: 200px;
    height: 5px;
    margin-top: 5px;
}

/* Aubout section ====================================== */
.about-section .grid{
    grid-column-gap: 50px;
}

.about-text{
    font-size: 120%;
    width: 60%;
    margin-left: 20%;
    font-weight: 600;
    text-align: center;
    color: #254f77;
}

.about-pictures img{
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    margin: 50px 0;
    border: 3px solid #8bc2f6;
    border-radius: 10%;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
    
}

.about-pictures{
    position: relative;
}

.picture-title{
    cursor: pointer;
    position: absolute;
    left: 30%;
    top: 40%;
    transform: translate(0px, 30px);
    transition: all .8s;
    opacity: 0;
}

.about-pictures img:hover,
.about-pictures img:active{
    filter: blur(3px) brightness(70%);
    transition: all .8s;
}

.about-pictures img:hover + .picture-title,
.about-pictures img:active + .picture-title
{
    opacity: 1;
    color: #fff;
    transform: translate(0px, 10px);
}

/* Products section ============================= */
.products-section{
    background-color: #ececec;
}

.product-box{
    position: relative;
    justify-self: center;
    height: 450px;
    width: 90%;
    background-color: #ddd;
    margin-bottom: 50px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.product-box h2{
    position: relative;
    height: 70px;
    padding-top: 20px;
    color: white;
    text-align: center;
    background-color: #022140;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-transform: uppercase;
    font-size: 110%;
}

.product-price{
    position: absolute;
    top: 25%;
    left: 25%;
    color: #062747;
    font-size: 250%;
    font-weight: 300;
}

.product-price span{
     font-size: 70%;
     font-weight: 200;
}

.product-box ul{
    position: absolute;
    top: 45%;
    left: 20%;
    list-style: none;
}

.fa-check{
    font-size: 90%;
    color: #013569;
    padding-right: 20px;
}

.product-box ul li{
    font-size: 120%;;
    margin-bottom: 20px;
    font-weight: 500;
    color: #777;
}

.product-box .btn{
    position: absolute;
    top: 75%;
    left: 25%;
    width: 50%;
    height: 15%;
}

/* testimaonials =================================== */
.testimaonials-section{
    background-image: linear-gradient(45deg, rgba(38,80,119, 0.7) 55%, rgba(100, 134, 165, 0.5)), url('../img/background2.jpeg');
    background-size: cover;
    background-position: center;
}

.testimaonials-section blockquote::before{
    content: '\201C';
    font-size: 300%;
    position: absolute;
    top: -20px;
    left: -10px;
}

.testimaonials-section blockquote{
    position: relative;
    color: #fff;
    font-size: 120%;
    font-weight: 700;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.testimaonials-section cite{
    cursor: pointer;
    font-size: 120%;
    color: #3382d1;
    font-weight: 600;
}

.person-picture{
    vertical-align: middle;
    width: 20%;
    border-radius: 50%;
    border: 2px solid #50a3f6;
    margin-right: 15px;
}

.person-picture:hover{
    cursor: pointer;
    transform: scale(1.25);
    transition: all .8s;
}

/* sponsors section */
.sponsors-section{
    background-color: #ececec;
    padding-bottom: 50px;
}

.sponsor-logo{
    justify-self: center;
}

.sponsor-logo img{
    position: relative;
    width: 150px;
    left: 25%;
}

.sponsor-logo h4{
    cursor: pointer;
    text-align: center;
    position: relative;
    left: 40px;
    padding-top: 10px;
    font-weight: 900;
    font-size: 120%;
    color: #062f58;
}

.sponsor-logo img:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all .8s;
}

/* Contact section ================================ */
.contact-section{
    display: grid;
    height: 600px;
    grid-template-columns: repeat(3, 1fr);
    background-image: linear-gradient(45deg, rgba(38,80,119, 0.7) 55%, rgba(100, 134, 165, 0.5)), url('../img/background5.jpeg');
    background-size: cover;
    background-position: center;
}

.infomation{
    grid-column: 1/2;
    justify-self: center;
    margin: 200px 0 0px 50px;

}

.feedback{
    grid-column: 2/4;
    justify-self: center;
    margin-top: 80px;
    margin-bottom: 70px;
    background-color: rgba(7, 8, 63, 0.5);
    width: 50%;
}

.infomation ul li{
    list-style: none;
    padding-bottom: 20px;
}

.contact-info{
    font-size: 100%;
    font-weight: 500;
    color: #fff;
}

.contact-info li i{
    color: #ae94f5;
    margin-right: 20px;
}

.contact-info li i:hover,
.contact-info li i:active{
    transform: scale(1.4);
    color: #9679e7;
    transition: all .8s;
}

.social-icon{
    display: flex;
    margin-top: 50px;
}

.social-icon li{
    font-size: 270%;
    color: #fff;
    padding-left: 30px;
}

.social-icon li:hover,
.social-icon li:active{
    transform: scale(1.3);
    color: rgb(255, 145, 0);
    transition: all .8s;
}

.feedback .grid{
    grid-template-columns: repeat(3, 1fr);
    padding-top: 30px;
}

.feedback label{
    color: #fff;
    padding-left: 15px;
    font-size: 125%;
    grid-column: 1/2;
}

.feedback input[type="submit"]{
    margin: 30px 0;
    width: 50%;
    border-radius: 5px;
    margin-left: 30%;
}

.feedback input[type="text"],
.feedback textarea{
    grid-column: 2/4;
    width: 80%;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    background-color: rgba(46, 46, 46, 0.7);
    font-size: 14px;
    padding-left: 10px;
    padding-top: 5px;
}

.feedback textarea{
    resize: none;
    height: 120px;
}

.feedback input[type="text"]:focus,
.feedback textarea:focus{
    background-color: rgba(24, 24, 24, 0.8);
    color: #fff;
    transition: all .8s;
}

/* Footer ====================================== */
footer{
    background-color: #666;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    font-size: 70%;
    font-weight: 700;
    letter-spacing: 1px;
}