*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto','lato', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    color: #000;
}

/* Header ================================================ */

header{
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 2fr 8fr;
    background-image: linear-gradient(45deg, rgba(38,80,119, 0.7) 55%, rgba(100, 134, 165, 0.5)), url('../img/background4.jpeg');
    height: 100vh;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.logo{
    width: 450px;
    margin-top: -50px;
    margin-left: 100px;
}

.main-nav{
    justify-self: end;
    margin: 70px 100px 0 0;
}

.main-nav a{
    text-decoration: none;
    color: white;
    margin-right: 50px;
    font-size: 145%;
    font-weight: 550;
}

.main-nav li{
    display: inline-block;
    text-decoration: none;
}

.main-nav li a:hover,
.main-nav li a:hover{
    border-bottom: 4px solid #fff;
    transition: all .8s;
}

.heading-main-box{
    grid-column: 1/3;
    margin-top: -20px;
    margin-left: 100px;
}

.heading-main-text{
    font-size: 400%;
    font-weight: 500;  
    letter-spacing: 3px;
    word-spacing: 10px;
    line-height: 150%;  
    text-transform: uppercase;
    margin-bottom: 50px;
}

.heading-main-box .btn{
    margin-right: 20px;
}

.heading-main-box .btn:hover{
    background-color: rgb(170, 86, 29);
}
/* Reusable ============================================ */

.btn{
    width: 220px;
    height: 65px;
    border-radius: 25px;
    border: none;
    background-color: rgb(250, 126, 43);
    color: #fff;
    outline: none;
    font-size: 100%;
    text-align: center;
    transition: all .5s;
}

.grid{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
}

.section-title {
    text-transform: uppercase;
    font-size: 310%;
    font-weight: 550;
    letter-spacing: 2px;
    color: rgb(231, 127, 58);
    margin: 50px auto;
    text-align: center;
}

.section-title::after{
    content: " ";
    display: block;
    background-color: rgba(238, 197, 170, 0.918);
    margin: 0 auto;
    width: 200px;
    height: 5px;
    margin-top: 5px;
}

/* Aubout section ====================================== */

.about-text{
    font-size: 120%;
    width: 60%;
    margin-left: 20%;
    font-weight: 600;
    text-align: center;
    color: #254f77;
}

.about-pictures img{
    object-fit: cover;
    width: 100%;
    margin: 50px 0;
    border: 3px solid #8bc2f6;
    border-radius: 10%;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
}

.about-pictures{
    position: relative;
}

.picture-title{
    opacity: 0;
}

.about-pictures img:hover,
.about-pictures img:active{
    filter: blur(3px) brightness(70%);
    transition: all .8s;

}

.about-pictures img:hover + .picture-title,
.about-pictures img:active + .picture-title
{
    opacity: 1;
    position: absolute;
    left: 30%;
    top: 40%;
    color: #fff;
    transition: all .8s;
}


